<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="AutomationFramework">

	<listeners>
		<listener class-name="com.autoframework.utilities.Reporting"></listener>
	</listeners>

	<test name="AutoFramework">

		<parameter name="browser" value="chrome"></parameter>
		<classes>
			
		<class name="com.autoframework.testCases.TC_LoginTest_001" />
			
			<!-- <class name="com.autoframework.testCases.TC_LoginDDT_002" /> -->
			
		</classes>

	</test> <!-- Test -->

</suite> <!-- Suite -->


